<!DOCTYPE html>
<html lang="en">

<head>
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <title>Days Selection</title>

</head>

<body>
<div class="main2">
<h1>Welcome *name* </h1>
<p>Please select days that you will be able to work <br>Note: You can only select up to 3 days</p>
</div>

<div class="days">
<form action="" method="get">
<label class="container">Modays
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
<label class="container">Tuesday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Wednesday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Thursday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Friday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Saturday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<label class="container">Sunday
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<br>

<button>Submit</button>
</form>
</div>
</body>

</html>