<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Days Selection</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<div class="main2">
<h1>Welcome, *theName* </h1>
<h3>{{#each theName}}
      {{names}}
     {{/each}}</h3>
     <h3>{{theName}}</h3>
<p>Please select days that you will be able to work <br>Note:</p>
</div>

<div class="days">
<form action="/waiter" method="POST">
<label class="container">Modays
  <input type="checkbox" checked="checked" value="Monday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Tuesday
  <input type="checkbox" value="Tuesday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Wednesday
  <input type="checkbox" value="Wednesday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Thursday
  <input type="checkbox" value="Thursday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Friday
  <input type="checkbox" value="Friday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Saturday
  <input type="checkbox" value="Saturday" name="days">
  <span class="checkmark"></span>
</label>
<label class="container">Sunday
  <input type="checkbox" value="Sunday" name="days">
  <span class="checkmark"></span>
</label>
<br>

<button type="submit">Submit/Update</button>
</form>
</div>
</body>

</html>