<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="main">
        <h1>Waiters Availabity App</h1>
        <p>Please enter your name and the employee Id below and click on the submit button to choose the days you will
            be able to work.</p>

        <div class="theForm">
            <form action="/waiters/:username" method="POST">

                <label for="fname">Employee's Name</label>
                <input type="text" id="name" name="waiterName" placeholder="Your name..">

                {{!-- <label for="lname">Employee's Id</label>
            <input type="text" id="lname" name="Employee_Id" placeholder="Employee Id.."><br> --}}

                <button type="submit">Submit</button>
            </form><br>
            
            <ul class="display">
               
            </ul>
        </div>
    </div>

</body>

</html>